/* --- Body --- */

body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(
		160deg,
		hsl(222deg 69% 15%) 0%,
		hsl(218deg 68% 18%) 20%,
		hsl(214deg 69% 21%) 29%,
		hsl(211deg 70% 24%) 36%,
		hsl(208deg 72% 27%) 43%,
		hsl(206deg 74% 29%) 50%,
		hsl(203deg 77% 32%) 57%,
		hsl(201deg 80% 34%) 64%,
		hsl(199deg 83% 36%) 71%,
		hsl(198deg 86% 38%) 80%,
		hsl(196deg 87% 40%) 100%
	);
}

/* --- Header --- */

header {
	--thickness: 4px;
	width: 100%;
	padding: 16px 24px;
	z-index: 2;
	position: sticky;
	top: 0;
	background: hsl(var(--color-bg) / 0.95);

	.content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			margin: 0;
		}

		ul {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;

			a {
				padding: 0.5rem 1rem;
			}
		}
	}
}

@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
	header {
		background: hsl(var(--color-bg) / 0.5);
	}

	.backdrop {
		position: absolute;
		inset: 0;
		-webkit-backdrop-filter: blur(16px);
		backdrop-filter: blur(16px);
		background: linear-gradient(
			to bottom,
			hsl(var(--color-bg)),
			transparent 50%
		);
		pointer-events: none;
	}

	.backdrop-edge {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: var(--thickness);
		background: hsl(var(--color-bg) / 0.1);
		-webkit-backdrop-filter: blur(12px) brightness(0.88);
		backdrop-filter: blur(12px) brightness(0.88);
		transform: translateY(100%);
		pointer-events: none;
	}
}

@supports (mask-image: none) or (-webkit-mask-image: none) {
	.backdrop {
		height: 200%;
		-webkit-mask-image: linear-gradient(
			to bottom,
			black 0% 50%,
			transparent 50% 100%
		);
		mask-image: linear-gradient(
			to bottom,
			black 0% 50%,
			transparent 50% 100%
		);
	}
	.backdrop-edge {
		height: 100%;
		inset: 0;
		-webkit-mask-image: linear-gradient(
			to bottom,
			black 0,
			black var(--thickness),
			transparent var(--thickness)
		);
		mask-image: linear-gradient(
			to bottom,
			black 0,
			black var(--thickness),
			transparent var(--thickness)
		);
	}
}

/* --- Main Content --- */

.layout-wrapper {
	display: grid;
	grid-template-areas:
		'main-content'
		'left-sidebar'
		'right-sidebar';
	min-height: 100vh;

	> * {
		padding: 16px;
	}

	> .main-content {
		grid-area: main-content;
	}

	> .left-sidebar {
		grid-area: left-sidebar;
		background-color: hsl(var(--color-bg-light) / 0.5);
	}

	> .right-sidebar {
		grid-area: right-sidebar;
		background-color: hsl(var(--color-bg-light) / 0.5);
	}
}

@media (min-width: 768px) {
	.layout-wrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'main-content main-content'
			'left-sidebar right-sidebar';
	}
}

@media (min-width: 1024px) {
	.layout-wrapper {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'left-sidebar main-content main-content main-content main-content right-sidebar';
	}
}

/* --- Footer --- */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 160px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
	&:before {
		content: "";
		inset: 0;
		display: block;
		background: hsl(var(--color-bg) / 0.95);
		position: absolute;
		pointer-events: none;
	}

	@supports (backdrop-filter: blur(30px)) or (-webkit-backdrop-filter: blur(30px)) {
		&:before {
			background: hsl(var(--color-bg) / 0.5);
			-webkit-backdrop-filter: blur(30px) saturate(1.2);
			backdrop-filter: blur(30px) saturate(1.2);
		}
	}

	@supports (mask-image: none) or (-webkit-mask-image: none) {
		&:before {
			-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 80%, #000);
			mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 80%, #000);
		}
	}

	& p {
		position: relative;
	}
}